# Homework 3 (40 pts)


Due Date: 11/12/2020 (Thursday 11:59 AM

Save Notebook file as :HW2_YourStudentID.ipynb

Upload to your Github and email the link to: jzhang@eastwest.edu

Subject: Homework 3 by YourStudentID and your name

In [13]:
%matplotlib inline
import pandas as pd

In [14]:
# limiting the display rows
pd.set_option('display.max_rows', 5)
sales = pd.read_csv('MarchSales.csv')
print(sales.shape)
sales
print('Zaid: 20609 \n')

# Problem 1. (2 pt)

# Show the number of rows and columns in sales dataframe.
print(sales.shape)
print('+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(sales)

(107, 10)
Zaid: 20609

(107, 10)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
     Trans_No Operator Sales_First  Sales_Last       Date   Department  \
0    2018-001      KRM   Sebastian  Gruenewald   3/1/2018      Bedroom
1    2018-002      RKM   Sebastian  Gruenewald   3/1/2018      Bedroom
..        ...      ...         ...         ...        ...          ...
105  2018-102      MAP   Chantalle   Desmarais  3/31/2018      Bedroom
106  2018-103      KRM   Sebastian  Gruenewald  3/31/2018  Living Room

      Furniture      Pay_Type Trans_Type  Amount
0      Mattress       Finance  Promotion    2788
1      Mattress       Finance  Promotion    3245
..          ...           ...        ...     ...
105    Mattress  Paid in Full  Promotion    2000
106  End Tables       Finance   Standard    2505

[107 rows x 10 columns]

In [15]:
# Problem 2 (2 pt)

# show the column names of the datafram 
names = sales.columns

print(names)

print('**************************************\n')
# show the index of the datafram 
sales.index
print('Zaid: 20609 \n')

Index(['Trans_No', 'Operator', 'Sales_First', 'Sales_Last', 'Date',
       'Department', 'Furniture', 'Pay_Type', 'Trans_Type', 'Amount'],
      dtype='object')
**************************************

Zaid: 20609

In [16]:
# Problem 3 (2 pt)
# Only show Trans number
name = sales['Trans_No']  
print(name)
print('********************************')
print('Zaid: 20609 \n')

0      2018-001
1      2018-002
         ...
105    2018-102
106    2018-103
Name: Trans_No, Length: 107, dtype: object
********************************
Zaid: 20609

In [17]:
# Problem 4 (4 pt)
# Show Department without duplicate
print (sales.Department.unique())
print()
# Display department name as following format
print('Department')

print('********************************')
names = sales.Department.unique()
for n in names:
    print(n)
print('Zaid: 20609 \n')

['Bedroom' 'Living Room' 'Appliances' 'Dining Room']

Department
********************************
Bedroom
Living Room
Appliances
Dining Room
Zaid: 20609

In [18]:
# Problem 5 (2 pt)
# Show the columns: Trans_No, Sales Representatives Name.
res = sales[['Trans_No','Sales_First','Sales_Last']]
res
print('Zaid: 20609 \n')

Zaid: 20609

In [9]:
# Problem 6 (2 pt)
# Show the columns: Trans_No, Sales Representatives Name. 
# (only show the first, third and fifth row)
# Hint use .loc

sales[['Trans_No','Sales_First','Sales_Last']].loc[[0, 2, 4]]
print('Zaid: 20609 \n')

Zaid: 20609

In [12]:
# Problem 7 (2 pt)
# Show all transactions in the department of Living Room

sales[sales.Department=='Living Room']
print('Zaid: 20609 \n')

Zaid: 20609

In [10]:
# Problem 8 (2 pts)
# Show all transaction in Living Room Department and Trans_Type is Promotion
sales[(sales.Department=='Living Room') & (sales.Trans_Type=='Promotion') ]
print('Zaid: 20609 \n')

Zaid: 20609

In [11]:
# Problem 9 (2 pts)
# Show all transaction which amount is below 10000 or Pay_Type is Finance

sales[(sales.Pay_Type=='Finance') & (sales.Amount <10000)]
print('Zaid: 20609 \n')

Zaid: 20609

In [11]:

# Problem 10 (2 pts)
# Show all transaction which amount is over 10000
# Only include columns: Trans_No, Furniture,Pay_Type, Amount

sales[(sales.Amount >10000)][['Trans_No','Furniture','Pay_Type','Amount']]
print('Zaid: 20609 \n')

Zaid: 20609

In [13]:


#Problem 11 ( 2 pt)
# Show the all transactions by Ambrose Sardelis
sales[(sales.Sales_First=='Ambrose') & (sales.Sales_Last=='Sardelis') ]
print('Zaid: 20609 \n')

Zaid: 20609

In [14]:
# Problem 12 ( 2 pt)
 
# Show the number of transactions by Ambrose Sardelis
print('The number of transactions by Ambrose Sardelis is :', len(sales[sales.Sales_First=='Ambrose']))
print('Zaid: 20609 \n')

The number of transactions by Ambrose Sardelis is : 24
Zaid: 20609

In [15]:
# Problem 13 ( 2 pt)
 
# Show the total sales by Ambrose Sardelis
print('The total sales of transactions by Ambrose Sardelis is','$',sales[sales.Sales_First=='Ambrose'].Amount.sum() )
print('Zaid: 20609 \n')

The total sales of transactions by Ambrose Sardelis is $ 131899
Zaid: 20609

In [16]:
# Problem 14 (2 pt)
# Show the total sales amount in March.

print('The total sales Amount is','$',sales.Amount.sum() )
print('Zaid: 20609 \n')

The total sales Amount is $ 493887
Zaid: 20609

In [17]:

# Problem 15 & 16 ( 4 pts)
# What the percentage of sales transactions in Promotion type among all sales transaction.

total_transaction = len(sales['Trans_Type'])
print('Total Number of transactions : ',total_transaction )

prom_transaction = len(sales[sales.Trans_Type == 'Promotion'])
print('Total Promotion transactions : ',prom_transaction )

print('Percentage of sales transaction ', format((prom_transaction/total_transaction), '.2%'))
print('Zaid: 20609 \n')

Total Number of transactions :  107
Total Promotion transactions :  52
Percentage of sales transaction  48.60%
Zaid: 20609

In [18]:

# Problem 16 & 17 ( 4 pts)
# What the percentage of total sales from living room department among total sales.
#sales[sales.Department=='Living Room'].count()

t_sale = sales['Amount'].sum()
print('Total sales of March: $ ', t_sale)

living_room_sales = sales[(sales.Department == 'Living Room')]['Amount'].sum()
print('Total sales of Living room: $ ', living_room_sales)

print('Percentage of total sales is ', format((living_room_sales/t_sale), '.2%'))

print('Zaid: 20609 \n')

Total sales of March: $  493887
Total sales of Living room: $  155323
Percentage of total sales is  31.45%
Zaid: 20609

In [19]:
# Problem 18 ( 2 pt)
# Show sales Amount from Bedroom and living room department. ( hint: Use OR Logic)
#sales[(sales['Department'] =='Bedroom') | (sales['Department'] =='Living room') ].Amount.sum()

total_sale_amount = sales[(sales['Department'] =='Bedroom') | (sales['Department'] =='Living Room') ].Amount.sum()
print('Total sales of Bedroom and Living room: $ ', total_sale_amount)
print('Zaid: 20609 \n')

Total sales of Bedroom and Living room: $  282018
Zaid: 20609

In [20]:
# Problem 19 ( 2 pt)
# Show the number of sales transactions from Bedroom department and Living Room department.
#  ( hint: Use OR Logic)
df = sales

df = df[ (df.Department=='Bedroom') | (df.Department=='Living Room')]
df

# use count()
df.count()
print(df['Department'].count())
print('Zaid: 20609 \n')

50
Zaid: 20609